*{
    margin: 0;
    padding: 0;
   /* background-image:url("https://c7.alamy.com/comp/2GGD3MM/tic-tac-toe-game-texture-hand-drawn-seamless-cross-shapes-pattern-black-elements-on-white-background-2GGD3MM.jpg ") ; */
}
nav{
    color: white;
    background-color: black;
    height: 34px;
    display: flex;
    align-items: center;
    padding: 5px;

}
nav ul{
    list-style-type: none;
    display: flex;
    
}
nav ul li{
    padding: 50px;
}

.Game{
    
    display: flex;
    justify-content: center;
    margin-top: 30px ;
}
.board{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    position: relative;
}

.mat{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mat:hover{
    background-color: rgb(228, 215, 241);
    cursor: pointer;
}
.Info{
    padding: 70px;
    font-size: larger;
}



.br-0{
    border-right: 0px;
}
.bl-0{
    border-left: 0px;
}
.bt-0{
    border-top: 0px;
}
.bb-0{
    border-bottom: 0px;
}

.img img{
    width: 0px;
    transition: width 1s ease-in-out;
}

.reset{
    margin: 13px 23px;
    padding: 0px 23px;
    font-size: larger;
    cursor: pointer;
    background-color: rgb(230, 220, 241);
    border-radius: 1vw;
}
.line{
    
    width: 0vw;
    height: 6px;
    position: absolute;
    background-color: black;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 900px) {
   .Game{
    flex-wrap: wrap;
   }
   .Info{
    font-size: 1rem;
   }
   .board{
    grid-template-columns: repeat(3, 16vw);
    grid-template-rows: repeat(3, 16vw);
}
}
